apiVersion: v1
kind: Service
metadata:
  labels:
    app: tools-svc
  name: tools-svc
spec:
  ports:
  - port: 3000
    protocol: TCP
    targetPort: 3000
  selector:
    app: tools-deploy
  type: NodePort
status:
  loadBalancer: {}
